/* Particle Canvas for Bubble Effect */
.particle-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* Behind content but above background */
    opacity: 0.6;
    pointer-events: none;
}